{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container"> 
    <div class="row">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
      <!--Flash message -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" classi="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}
      <!-- Login form -->
      <form method="POST">
        {{login_form.csrf_token}}
        <!-- <label >username</label>
        <input type="username">
        <label >Password</label>
        <input type="password">
        <button type="submit">log me in</button>
        <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p> -->

        <p>Email</p>
        {{login_form.email}}
        <p>Password</p>
        {{login_form.password}}
        <br><br>
        {{login_form.submit}}
        <p>Don't have an account<a href="{{url_for('auth.register')}}">sign up</a></p>






      </form>
     
     </div>
     <div clas="col-md-2"> </div>
    </div>
</div>

{% endblock%}