{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">
    <form action="register">
        <label >Email address</label>
        <input type="text" id= "email" placeholder="enter your email">
        <label >Username</label>
        <input type="text" id= "username" placeholder="enter your username">
        <label >password</label>
        <input type="text" id= "password" placeholder="enter your password">
        <label >confirm your password</label>
        <input type="text" id= "password-confirm" placeholder="confirm your password">
        <button type="submit">sign me up!</button>
    </form>

</div>
<div class="col-md-2"></div>
</div>
</div>

{% endblock%}