<div class="navbar navbar-inverse bg-primary" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">QUOTE</a>
                
     
                    <a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a>
                    <a href="{{url_for('auth.login')}}">log in</a>
                    <a href="{{url_for('auth.logout')}}">log out</a>
                    <a href="{{url_for('main.new_blog')}}">add blog</a>
           
    

        </div>
  
        </div>
        <hr>

</div>